<table>
  <tr>
    <th>id</th>
    <th>form</th>
    <th>form_name</th>
    <th>order_id</th>
    <th>price</th>
    <th>Product1</th>
    <th>Product2</th>
    <th>name</th>
    <th>phone</th>
    <!--<th>email</th>-->
    <th>comment</th>
    <th>address</th>

  </tr>

  <% @orders.each do |order| %>

      <tr>
        <td><%= order.id %></td>
        <td><%= order.form %></td>
        <td><%= order.form_name %></td>
        <td><%= order.order_id %></td>
        <td><%= order.price %></td>
        <td><%= order.product1 %></td>
        <td><%= order.product2 %></td>
        <td><%= order.name %></td>
        <td><%= order.phone %></td>
        <td><%#= order.comment %></td>
        <td><%= order.address %></td>
        <td><%= link_to "MSG",
                        :controller => :send_messages,
                        :action => :send_message,
                        :number => order.phone,
                        :message => "您好" + order.name + ", 您的餐到了" + order.address + ", 总共金额" + order.price.to_s + ", 请您尽快来取. 此短信为系统发送,请勿回复."
        %>
        </td>

      </tr>
  <% end %>


</table>


